<div id="contactpage" ng-view="contact">
	<div class="nailpolish">
		<img src="images/nailpolish.png"/>
	</div>
	<div id="contactinfo">
		<ul id="contact">
			<h1>Contact Info</h1>
				<li>Salon Hours:</li>
				<li>Mon - Fri, 9am - 8pm</li>
				<li>Sat - Sun, 10am-8pm</li>

				<li>Visit Us:</li>
				<li>Whole Foods Market</li>
				<li>1690 South Bascom Ave, Campbell, CA 95008</li>
				<li>(408) 371-5000</li>

				<li>Book an Appointment Online Today!</li>
		</ul>
	</div>		
	<div class="clear"></div>
</div>	
